<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Table - {{ id }}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </head>

  <style>
    .form-popup {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1050; /* Para garantir que o formulário fique acima de outros elementos */
    }
    .popup {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1050;
    }

    .btn-custom {
      background-color: #ffffff; /* Cor preenchida */
      color: #2b2f33; /* Texto em branco */
      border-color: #1e2124;
    }

    .btn-check:checked + .btn-custom {
      background-color: #2b2f33; /* Tom levemente mais claro para o ativo */
      border-color: #2b2f33;
      color: #ffffff;
    }

    .btn-custom:hover {
      background-color: #383c40; /* Cor mais clara ao passar o mouse */
      border-color: #383c40;
      color: #ffffff;
    }
  </style>

  <body>
    <section>
      <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Personal Finance Tracker</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="/">Create Table</a>
              <a class="nav-link" href="/tables">Tables</a>
            </div>
          </div>
        </div>
      </nav>
      <div class="container mt-4">
        <h2>{{ table_name }}</h2>
        <div
          class="btn-group mt-2"
          role="group"
          aria-label="Basic radio toggle button group"
        >
          <input
            type="radio"
            class="btn-check"
            name="btnradio"
            id="btnradio1"
            autocomplete="off"
            onclick="hideElement('incomeTable'), hideElement('expensesTable')"
            checked
          />
          <label class="btn btn-custom" for="btnradio1">Visualize</label>

          <input
            type="radio"
            class="btn-check"
            name="btnradio"
            id="btnradio2"
            autocomplete="off"
            onclick="showElement('incomeTable'), hideElement('expensesTable')"
          />
          <label class="btn btn-custom" for="btnradio2">Income</label>

          <input
            type="radio"
            class="btn-check"
            name="btnradio"
            id="btnradio3"
            autocomplete="off"
            onclick="showElement('expensesTable'), hideElement('incomeTable')"
          />
          <label class="btn btn-custom" for="btnradio3">Expenses</label>
        </div>
        <button class="btn btn-secondary mt-2" onclick="showElement('myForm')">
          Add value
        </button>
      </div>

      <!--page content-->
      <div id="incomeTable" style="display: none" class="container">
        <table class="table mt-2">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Category</th>
              <th scope="col">Description</th>
              <th scope="col">Amount</th>
            </tr>
          </thead>
          <tbody>
            {% for row in extract %}
              {% if row.type == 'Income' %}
                <tr>
                  <td>{{ row.date }}</td>
                  <td>{{ row.category }}</td>
                  <td>{{ row.description }}</td>
                  <td>{{ row.amount }}</td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div id="expensesTable" style="display: none" class="container">
        <table class="table container mt-2">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Category</th>
              <th scope="col">Description</th>
              <th scope="col">Amount</th>
            </tr>
          </thead>
          <tbody>
            {% for row in extract %}
              {% if row.type == 'Expense' %}
                <tr>
                  <td>{{ row.date }}</td>
                  <td>{{ row.category }}</td>
                  <td>{{ row.description }}</td>
                  <td>{{ row.amount }}</td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="container">
        <form action="{% url 'clear_transactions' %}" method="post">
          {% csrf_token %}
          <!--invisible data-->
          <input type="hidden" name="id" value="{{ id }}" />
          <button class="btn btn-danger mt-2">Clear transactions</button>
        </form>
      </div>

      <!--popup-->
      <div
        class="form-popup bg-white p-4 border rounded mx-auto"
        id="myForm"
        style="max-width: 400px"
      >
        <form
          action="{% url 'add_transaction' %}"
          method="post"
          class="form-container"
        >
          {% csrf_token %}

          <!--invisible data-->
          <input type="hidden" name="id" value="{{ id }}" />

          <h3 class="text-center mb-4">Add Income or Expense</h3>

          <div class="mb-3">
            <label class="form-label d-block">Type</label>
            <div
              class="btn-group w-100"
              name="type"
              role="group"
              aria-label="Income or Expense"
            >
              <input
                type="radio"
                class="btn-check"
                name="type"
                id="btnradio4"
                autocomplete="off"
                value="Income"
                required
              />
              <label class="btn btn-outline-success w-50" for="btnradio4"
                >Income</label
              >

              <input
                type="radio"
                class="btn-check"
                name="type"
                id="btnradio5"
                autocomplete="off"
                value="Expense"
                required
              />
              <label class="btn btn-outline-danger w-50" for="btnradio5"
                >Expense</label
              >
            </div>
          </div>

          <div class="mb-3">
            <label for="category" class="form-label">Options</label>
            <select class="form-select" id="category" name="category">
              <option value="Salary or wages">Salary or wages</option>
              <option value="Business income">Business income</option>
              <option value="Investments">Investments</option>
              <option value="Rental income">Rental income</option>
              <option value="Pension or retirement fund">
                Pension or retirement fund
              </option>
              <option value="Rent or mortgage">Rent or mortgage</option>
              <option value="Utilities">Utilities</option>
              <option value="Food">Food</option>
              <option value="Clothing">Clothing</option>
              <option value="Household necessities">
                Household necessities
              </option>
              <option value="Medical expenses">Medical expenses</option>
              <option value="Educational expenses">Educational expenses</option>
              <option value="Loan payments">Loan payments</option>
              <option value="Taxes">Taxes</option>
              <option value="Amount allocated to savings/retirement">
                Amount allocated to savings/retirement
              </option>
              <option value="Automobile maintenance">
                Automobile maintenance
              </option>
              <option value="Insurance (health and property)">
                Insurance (health and property)
              </option>
              <option value="Entertainment">Entertainment</option>
              <option value="Vacations">Vacations</option>
              <option value="Servants">Servants</option>
              <option value="Other">Other</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="descriptionInput" class="form-label">Description</label>
            <input
              type="text"
              name="description"
              id="description"
              class="form-control"
              aria-label="Description"
              placeholder="Optional"
            />
          </div>

          <div class="mb-3">
            <label for="amount" class="form-label">Amount</label>
            <div class="input-group">
              <span class="input-group-text">$</span>
              <input
                type="text"
                name="amount"
                id="amount"
                class="form-control"
                aria-label="Amount (to the nearest dollar)"
                required
              />
              <span class="input-group-text">.00</span>
            </div>
          </div>
          <button type="submit" class="btn btn-primary w-100 mb-2">Add</button>
          <button
            type="button"
            class="btn btn-secondary w-100"
            onclick="hideElement('myForm')"
          >
            Cancel
          </button>
        </form>
      </div>
    </section>
  </body>
</html>

<script>
  function showElement(id) {
    document.getElementById(id).style.display = "block";
  }

  function hideElement(id) {
    document.getElementById(id).style.display = "none";
  }
</script>
